* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: center;
    justify-content: center;
}
.navbar{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6px;
    height: 60px;
}
.links {
    align-self: flex-end;
    padding: 20px;
}
.navbar a {
    color: black;
    padding: 14px;
}
.main {
    padding: 30px;
}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#form input {
    margin: 20px;
}
#text {
    width: 45pc;
    padding: 22px 195px;
    padding-left: 30px;
    font-size: 25px;
    border: 1px solid rgba(0, 0, 0, 0.117);
    border-radius: 60px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#text:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid rgba(0, 0, 0, 0.317);
}
#text:active {
    border: 1px solid rgba(0, 0, 0, 0.517);
}
.btn {
    width: 261px;
    padding: 14px 44px;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    font-size: 20px;
    border: 1px solid #f8f9fa;
    text-align: center;
    cursor: pointer;
    background-color: #f8f9fa;
}
.btn:hover {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}